body, html {
  width: 100%;
  margin: 0;
  background: #ecf0f1;
  font-family: "Open Sans", sans-serif;
}

.header {
  background: #4267b2;
}

.main .central, .main .profile {
  box-shadow: 0 2px 50px -10px #7f8c8d;
  background: white;
  margin: 5px;
  padding: 10px;
  height: 100%;
}

.title {
  background: white;
  border-bottom: 1px solid #ecf0f1;
  font-weight: bold;
  font-size: 20px;
  color: #2c3e50;
  padding: 5px;
  text-align: center;
  margin-bottom: 5px;
}

.main {
  display: flex;
  margin-top: 5px;
}
.main .profile {
  flex: 2;
}
.main .profile .avatar-container {
  text-align: center;
}
.main .profile .avatar-container .avatar {
  height: 100px;
  width: 100px;
  border: 3px solid white;
  box-shadow: 0 0 10px 2px #ecf0f1;
  border-radius: 50%;
}
.main .profile .link {
  margin-bottom: 20px;
  border-bottom: 1px solid #ecf0f1;
}
.main .profile .link .yes {
  color: #3498db;
}
.main .profile .link .no {
  color: #bdc3c7;
  text-decoration: line-through;
}
.main .profile .info {
  color: #7f8c8d;
}
.main .central {
  flex: 6;
}
.main .central .map {
  height: 600px;
}
.main .search {
  flex: 3;
  box-shadow: 2px -10px 50px -10px #7f8c8d;
  background: #ecf0f1;
  margin: 10px;
  margin-top: 15px;
}
.main .search .container {
  padding: 0;
}
.main .search .container .card-container {
  margin: 10px;
}
.main .search .container .card-container .card {
  padding: 5px 0px 5px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: 5px solid #3498db;
  border-radius: 0px;
  border-bottom-left-radius: 5px;
  background: white;
}
.main .search .container .card-container .card .avatar-container .avatar {
  height: 100px;
  width: 100px;
  border: 3px solid white;
  box-shadow: 0 0 10px 2px #ecf0f1;
  border-radius: 50%;
}
.main .search .container .card-container .card .info-container .name {
  font-weight: bold;
}
.main .search .container .card-container .card .info-container .quote {
  color: #7f8c8d;
  font-style: italic;
}
.main .search .container .card-container .toolbar {
  display: flex;
  justify-content: flex-end;
  color: white;
}
.main .search .container .card-container .toolbar .user-container {
  background: #3498db;
  margin: 0px 5px 0px 5px;
  padding: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 35px;
  text-align: center;
}
.main .search .container .card-container .toolbar .mes-container {
  background: #3498db;
  margin: 0px 5px 0px 5px;
  padding: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 35px;
  text-align: center;
}
.main .search .container .card-container .toolbar .req-container {
  background: #3498db;
  margin: 0px 0px 0px 5px;
  padding: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 35px;
  text-align: center;
}
.main .search .nav-container {
  display: flex;
  padding: 10px;
  background: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: -10px;
}
.main .search .nav-container .inp {
  flex: 9;
  border-radius: 5px;
  border: 0;
  padding: 5px;
  padding-left: 10px;
  background: #ecf0f1;
  color: #7f8c8d;
}
.main .search .nav-container ::placeholder {
  color: #7f8c8d;
  opacity: 0.5;
}
.main .search .nav-container .find-container {
  padding: 5px;
  flex: 1;
  text-align: center;
  color: #2c3e50;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  align-items: center;
}
.header .menu-container {
  display: flex;
  color: #bdc3c7;
  width: 35%;
  justify-content: space-between;
}
.header .menu-container .tool {
  padding: 5px;
}
.header .menu-container .tool:hover {
  color: #ecf0f1;
}
.header .menu-container .tool:active {
  color: white;
}

.chat-container {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 20%;
  align-items: flex-end;
}
.chat-container .chat {
  margin-left: 20px;
  width: 320px;
  background: white;
  border: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px #7f8c8d;
}
.chat-container .chat .header {
  background: white;
  border-bottom: 2px solid #bdc3c7;
  padding: 7px;
  display: flex;
  align-items: center;
  flex: 1;
}
.chat-container .chat .header .avatar {
  border: 0;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.chat-container .chat .header .info {
  flex: 8;
  margin-left: 5px;
}
.chat-container .chat .header .info .name {
  font-weight: 600;
  font-size: 14px;
  margin: 0px;
}
.chat-container .chat .header .info .status {
  flex: 1;
  margin: 0px;
  font-weight: 12px;
  font-size: 12px;
  color: #bdc3c7;
}
.chat-container .chat .header .exit {
  flex: 1;
  text-align: right;
  padding-right: 10px;
  margin: 0;
  font-size: 20px;
}
.chat-container .chat .header .exit:hover {
  cursor: pointer;
  opacity: 0.5;
}
.chat-container .chat .header .exit:active {
  color: #3498db;
}
.chat-container .chat .main-mess {
  height: 270px;
}
.chat-container .chat .main-mess .message {
  padding: 5px;
  margin: 10px 0 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex: 1;
}
.chat-container .chat .main-mess .message .avatar {
  border: 0;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.chat-container .chat .main-mess .message .content .name {
  font-weight: 12px;
  font-size: 12px;
  color: #bdc3c7;
  margin-left: 15px;
}
.chat-container .chat .main-mess .message .content .mes {
  margin-left: 10px;
  background: #ecf0f1;
  border: 0;
  border-radius: 10px;
  padding: 7px;
}
.chat-container .chat .main-mess .my-message {
  text-align: right;
  margin-right: 10px;
}
.chat-container .chat .main-mess .my-message .mes {
  margin-left: 10px;
  background: #ecf0f1;
  border: 0;
  border-radius: 10px;
  padding: 7px;
  background: #3498db;
  color: white;
}
.chat-container .chat .footer {
  position: fixed;
  bottom: 0;
  width: 320px;
}
.chat-container .chat .footer .input {
  width: 100%;
  border: 0px;
  border-top: 2px solid #ecf0f1;
  padding: 5px;
}
.chat-container .chat .footer .tool-container {
  padding: 5px;
}

.mes-box {
  height: 550px;
  width: 400px;
  background: white;
  border: 2px solid #ecf0f1;
  top: 90px;
  left: 50%;
  right: 50%;
  position: absolute;
  box-shadow: 0 0 5px #bdc3c7;
}
.mes-box > .mes-container {
  height: 70px;
  padding: 5px;
  border-bottom: 1px solid #ecf0f1;
  display: flex;
  align-items: center;
}
.mes-box > .mes-container > .avatar-container {
  flex: 1;
  margin-right: 10px;
}
.mes-box > .mes-container > .avatar-container > .avatar {
  height: 40px;
  width: 40px;
  border: 0px;
  box-shadow: 0 0 5px #7f8c8d;
  border-radius: 50%;
}
.mes-box > .mes-container > .info-container {
  flex: 7;
}
.mes-box > .mes-container > .info-container > .name {
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.mes-box > .mes-container > .info-container > .mes {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.mes-box > .mes-container > .time {
  flex: 2;
  color: #bdc3c7;
  text-align: right;
}

.noti-box {
  height: 550px;
  width: 400px;
  background: white;
  border: 2px solid #ecf0f1;
  top: 90px;
  left: 50%;
  right: 50%;
  position: absolute;
  box-shadow: 0 0 5px #bdc3c7;
}

/*# sourceMappingURL=style.css.map */
