body, html {
  width: 100%;
  margin: 0;
  background: #ecf0f1;  
  font-family: 'Open Sans', sans-serif;
}

.header {
  background: #4267b2;
  
}

%bg {
  box-shadow: 0 2px 50px -10px #7f8c8d;
  background: white;
  margin: 5px;
  padding: 10px;
  height: 100%;
}

@mixin avatar {
  height: 100px;
  width: 100px;
  border: 3px solid white;
  box-shadow: 0 0 10px 2px #ecf0f1;   
  border-radius: 50%;
  margin-right: 10px;
}

@mixin title {
  background: white;
  border-bottom: 1px solid #ecf0f1;
  font-weight: bold;
  font-size: 20px; 
  color: #2c3e50;
  padding: 5px;
  text-align: center;
  margin-bottom: 5px
}

.title {
  @include title;
}

.main {
  display: flex;
  margin-top: 5px;
  .profile {
    flex: 2;
    .table {
      text-align: center; 
      border: 0; width: 100%; 
      margin-bottom: 20px; 
      border-bottom: 1px solid #ecf0f1
    }
    @extend %bg ;
    .avatar-container {
      text-align: center;
      .avatar {
        @include avatar;
      }
    }
    .link {
      .yes {
        color: #3498db;
      }
      .no {
        color: #bdc3c7;
        text-decoration: line-through;
      }
      margin-bottom: 20px; 
      border-bottom: 1px solid #ecf0f1
    }
    .info {
      color: #7f8c8d;
    }
  }
  .central {
    flex: 6;
    @extend %bg ;
    .map {
      height: 600px;
    }
  }
  .search {
    flex: 3;
    box-shadow: 2px -10px 50px -10px #7f8c8d;
    background: #ecf0f1;
    margin: 10px;
    
    margin-top: 15px;
    .container {
      padding: 0;
      .card-container {
        margin: 10px;
        .card {
          padding: 5px 0px 5px 0px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          border-bottom: 5px solid #3498db;
          border-radiusx: 0px;
          border-bottom-left-radius: 5px;
          //border: 0px;
          background: white;
          .avatar-container {
            .avatar {
              @include avatar;
            }
          }
          .info-container {
            .name {
              font-weight: bold;
            }
            .quote {
              color: #7f8c8d;
              font-style: italic;
            }
          }
        }
        .toolbar {
          display: flex;
          justify-content: flex-end;
          color: white;
          .user-container {
            background: #3498db;
            margin: 0px 5px 0px 5px;
            padding: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            width: 35px;
            text-align: center;
            &:hover {
              cursor: pointer;
            }
            &:active {
              opacity: .7
            }
          }
          .mes-container {
            background: #3498db;
            margin: 0px 5px 0px 5px;
            padding: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            width: 35px;
            text-align: center;
            &:hover {
              cursor: pointer;
            }
            &:active {
              opacity: .7
            }
          }
          .req-container {
            background: #3498db;
            margin: 0px 0px 0px 5px;
            padding: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            width: 35px;
            text-align: center;
            &:hover {
              cursor: pointer;
            }
            &:active {
              opacity: .7
            }
          }
        }
      }
    }
    .nav-container {
      display: flex;
      padding: 10px;
      background: white;
      //border: 1px solid #3498db;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      margin-top: -10px;
      
      .inp {
        flex: 9;
        border-radius: 5px;
        border: 0;
        padding: 5px;
        padding-left: 10px;
        background: #ecf0f1;
        color: #7f8c8d;
      }
      ::placeholder {
        color: #7f8c8d;
        opacity: .5;
      }
      .find-container {
        padding: 5px;
        flex: 1;
        text-align: center;
        color: #2c3e50;
      }
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  align-items: center;
  .logo-container {
    
  }
  .menu-container {
    display: flex;
    color: #bdc3c7;
    width: 35%;
    justify-content: space-between;
    .tool {
      padding: 5px;
      &:hover {
        color: #ecf0f1;
      }
      &:active {
        color: white;
      }
    }
  }
}

@mixin mes-avatar-container {
  flex: 1;
  .avatar {
    border: 0;
    border-radius: 50%;
    height: 30px;
    width: 30px;
  }
}

@mixin mes {
  margin-left: 10px;
  background: #ecf0f1;
  border: 0;
  border-radius: 10px;
  padding: 7px;
}

.chat-container {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 20%;
  align-items: flex-end;
  .chat {
    margin-left: 20px;
    width: 320px;
    background: white;
    border: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px #7f8c8d;
    
    .header {
      background: white;
      border-bottom: 2px solid #bdc3c7;
      padding: 7px;
      display: flex;
      align-items: center;
      &:hover {
        background: #ecf0f1;
      }
      @include mes-avatar-container;
      .info {
        flex: 8;
        margin-left: 5px;
        .name {
          font-weight: 600;
          font-size: 14px;
          margin: 0px;
        }
        .status {
          flex: 1;
          margin: 0px;
          font-weight: 12px;
          font-size: 12px;
          color: #bdc3c7;
        }
      }
      .exit {
        flex: 1;
        text-align: right;
        padding-right: 10px;
        margin: 0;
        font-size: 20px;
        &:hover {
          cursor: pointer;
          opacity: .5;
        }
        &:active {
          color: #3498db;
        }
      }
    }
    .main-mess {
      height: 270px;
      .message {
        padding: 5px;
        margin: 10px 0 10px 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        @include mes-avatar-container;
        .content {
          .name {
            font-weight: 12px;
            font-size: 12px;
            color: #bdc3c7;
            margin-left: 15px;
          }
          .mes {
            @include mes;
          }
        }
      } 
      .my-message {
        text-align: right;
        margin-right: 10px;
        margin: 10px 0 10px 0;
        .mes {
          @include mes;
          background: #3498db;
          color: white;
          
        }
      }
    }
    .footer {
      position: fixed;
      bottom: 0;
      width: 320px;
      .input {
        width: 100%;
        border: 0px;
        border-top: 2px solid #ecf0f1;
        padding: 5px;
      }
      .tool-container {
        padding: 5px;
      }
    }
  }
}

.mes-box {
  height: 550px;
  width: 400px;
  background: white;
  border: 2px solid #ecf0f1;
  top: 90px;
  left: 50%;
  right: 50%;
  position: absolute;
  box-shadow: 0 0 5px #bdc3c7;
  > .mes-container {
    height:70px;
    padding: 5px;
    border-bottom: 1px solid #ecf0f1;
    display: flex;
    align-items: center;
    > .avatar-container {
      flex: 1;
      margin-right: 10px;
      > .avatar {
        height: 40px;
        width: 40px;
        border: 0px;
        box-shadow: 0 0 5px #7f8c8d;
        border-radius: 50%;
      }
    }
    > .info-container {
      flex: 7;
      > .name {
        font-weight: 500;
        margin: 0;
        padding: 0;
      }
      > .mes {
        font-size: 14px;
        margin: 0;
        padding: 0;
      }
    }
    > .time {
      flex: 2;
      color: #bdc3c7;
      text-align: right;
    }
  }
}

.noti-box {
  height: 550px;
  width: 400px;
  background: white;
  border: 2px solid #ecf0f1;
  top: 90px;
  left: 50%;
  right: 50%;
  position: absolute;
  box-shadow: 0 0 5px #bdc3c7;
}